@import url('https://fonts.googleapis.com/css?family=Montserrat:300,900&display=swap&subset=cyrillic');

/*
@font-face {
  font-family: Montserrat;
  src: url('../font/Montserrat/Montserrat.woff2') format('woff2'),
       url('../font/Montserrat/Montserrat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../font/Montserrat_bold/montserratbold.woff2') format('woff2'),
       url('../font/Montserrat_bold/montserratbold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/